<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='js/vue.js'></script>
  <script src="js/bluebird.min.js"></script>
  <script src="//cdn1.lncld.net/static/js/2.1.0/av-min.js"></script>
  <title>snow flake, help you write better stories</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
  <link rel="stylesheet" href="css/layouts/side-menu.css" >
  <link rel="stylesheet" href="css/modal.css" >
  <style>
    /*阻止在手机上输入时自动放大*/
    input[type='text'],
    input[type='number'],
    textarea {
      font-size: 16px;
    }
    textarea {
      overflow-y: hidden;
      resize: none;
    }

    .custom-textarea {
      position: relative;
    }
    .custom-textarea span {
      position: absolute;
      right: 10px;
      color: #ddd;
    }
    .custom-textarea textarea {
      width: 100%;
      padding-top: 15px;
    }

    #menu a.selected {
      color: #fff;
      background: #333;
    }

    .stage-ctn {
      position: relative;
      margin-top: 10px;
      border-top: 1px solid #eee;
    }

    .with-mode-fade-enter-active,
    .with-mode-fade-leave-active {
      transition: opacity .5s;
    }
    .with-mode-fade-enter,
    .with-mode-fade-leave-to {
      opacity: 0;
    }


    .scenes-detail {
      margin-top: 25px;
      border-top: 1px solid #eeeeee;
    }

  </style>
</head>
<body>

  <div id="app">
    <div id="layout" :class="{active: isactive}">
      <side-nav :steps="steps" :selected="selected" :isactive="isactive" @selected="setSelected" @togglemenu="togglemenu"></side-nav>
      <div id="main">
        <div class="header">
          <template v-if="signIned">
            <span>你好，{{ username }}</span>
            <button class="pure-button " @click="logOut">登出</button>
            <button class="pure-button pure-button-primary" @click="saveAll">{{saveButtonMsg}}</button>
          </template>
          <template v-else>
            <button class="pure-button pure-button-primary" @click="showSignUpModal = true">注册</button>
            <button class="pure-button pure-button-primary" @click="showSignInModal = true">登录</button>
          </template>
        </div>
        <div class="content">
          <div class="sec" v-for="(step, index) of steps" v-show="index == selected" :key="index">
            <component
              :is="step.name"
              :desc="step.desc"
              :content="step.content"
              :charactors="charactors"
              :scenes="scenes"
              :index="index"
              :formercontent="step.former > -1 ? steps[step.former]['content'] : null"
            >
            </component>
          </div>
        </div>
      </div>
    </div>


    <modal v-if="showSignUpModal">
      <!--
        you can use custom content here to overwrite
        default content
      -->
      <h3 slot="header">注册</h3>
      <div slot="body">
        <template v-if="signUped && !emailValidated">
          <p>请验证邮箱，验证成功后点击“我已验证邮箱，登录”按钮</p>
          <button class="pure-button pure-button-primary" @click="showSignUpModal = false;showSignInModal = true;">我已验证邮箱，登录</button>
        </template>
        <template v-else>
          <form class="pure-form pure-form-stacked" v-on:submit.prevent="signUp">
            <label>邮箱：<input required type="email" ref="signUpUsername"></label>
            <label>密码：<input required type="password" ref="signUpPassword"></label>
            <div class="pure-controls">
              <button type="submit" class="pure-button pure-button-primary" >确定</button>
              <button class="pure-button" @click="showSignUpModal = false">取消</button>
            </div>
          </form>
        </template>
      </div>

      <div slot="footer">
        <p>{{signUpErrorMsg}}</p>
      </div>
    </modal>

    <modal v-if="showSignInModal">
      <!--
        you can use custom content here to overwrite
        default content
      -->
      <h3 slot="header">登录</h3>
      <p>{{signInErrorMsg}}</p>
      <form slot="body" class="pure-form pure-form-stacked" v-on:submit.prevent="signInFromModal">
        <label>邮箱：<input required type="email" ref="signInUserName" ></label>
        <label>密码：<input required type="password" ref="signInPassword" ></label>
        <div class="pure-controls">
          <button type="submit" class="pure-button pure-button-primary" >确定</button>
          <button class="pure-button" @click="showSignInModal = false">取消</button>
        </div>
      </form>
      <div slot="footer"></div>
    </modal>

  </div>

  <script type="x-template" id="type-1">
    <form class="pure-form">
      <hint :desc="desc" :index="index" :formercontent="formercontent"></hint>
      <custom-textarea
        :type="'content'"
        :index="index"
        :content="content"
      >
      </custom-textarea>
    </form>
  </script>

  <script type="x-template" id="type-2">
    <form class="pure-form pure-form-stacked">
      <hint :desc="desc" :index="index"></hint>
      <charactors
        :charactortype="'type-2'"
        :charactors="charactors"
      ></charactors>
    </form>
  </script>

  <script type="x-template" id="type-3">
    <form class="pure-form pure-form-stacked">
      <hint :desc="desc" :index="index"></hint>
      <charactors
        :charactortype="'type-3'"
        :charactors="charactors"
      ></charactors>
    </form>
  </script>

  <script type="x-template" id="type-4">
    <form class="pure-form pure-form-stacked">
      <hint :desc="desc" :index="index"></hint>
      <charactors
        :charactortype="'type-4'"
        :charactors="charactors"
      ></charactors>
    </form>
  </script>

  <script type="x-template" id="type-5">
    <form class="pure-form pure-form-stacked">
      <hint :desc="desc" :index="index" :formercontent="formercontent"></hint>
      <scenes
        :scenes="scenes"
      ></scenes>
    </form>
  </script>

  <script type="x-template" id="type-6">
    <form class="pure-form pure-form-stacked">
      <hint :desc="desc" :index="index"></hint>
      <scenes-detail
        :scenes="scenes"
      ></scenes-detail>
    </form>
  </script>


  <script type="x-template" id="hint">
    <div>
      <h2 class="content-subhead">{{ desc.main }}</h2>
      <blockquote class="content-quote">{{ formercontent }}</blockquote>
      <p>{{ desc.supplement }}</p>
    </div>
  </script>

  <script type="x-template" id="custom-textarea">
    <div class="custom-textarea">
      <span>{{wordsCount}}</span>
      <textarea @input="handleInput" rows="1" :value="innerContent"></textarea>
    </div>
  </script>

  <script type="x-template" id="charactors">
    <fieldset>
      <div class="pure-controls">
        <button v-if="charactortype == 'type-2'" @click="add" class="pure-button pure-button-primary" type="button">新增</button>
        <button v-show="currentindex != 0" @click="changeindex(-1)" class="pure-button pure-button-primary" type="button">上一条目</button>
        <button v-show="currentindex != charactors.length - 1" @click="changeindex(1)" class="pure-button pure-button-primary" type="button">下一条目</button>
      </div>
      <div class="stage-ctn">
        <transition name='with-mode-fade' mode='out-in'>
          <div v-for="(charactor, index) in charactors" v-if="index == currentindex" :key="index" >

            <template v-if="charactortype == 'type-2'">

              <label>角色类型: </label>
              <select v-model="charactor.type">
                <option v-for="option in options" :value="option.value">
                  {{ option.text }}
                </option>
              </select>
              <label>姓名: </label>
              <input type="text" v-model="charactor.name">
              <label>一句话故事情节: </label>
              <custom-textarea
                :type="'charactors'"
                :index="index"
                :typekey="'short_story'"
                :content="charactor.short_story"
              >
              </custom-textarea>

              <label>抽象动机: </label>
              <custom-textarea
                :type="'charactors'"
                :index="index"
                :typekey="'abstract_emo'"
                :content="charactor.abstract_emo"
              >
              </custom-textarea>
              <label>具体动机: </label>
              <custom-textarea
                :type="'charactors'"
                :index="index"
                :typekey="'specific_emo'"
                :content="charactor.specific_emo"
              >
              </custom-textarea>
              <label>阻碍: </label>
              <custom-textarea
                :type="'charactors'"
                :index="index"
                :typekey="'obstacle'"
                :content="charactor.obstacle"
              >
              </custom-textarea>
              <label>最终感悟: </label>
              <custom-textarea
                :type="'charactors'"
                :index="index"
                :typekey="'final_thought'"
                :content="charactor.final_thought"
              >
              </custom-textarea>
            </template>
            <template v-else>
              <label>姓名: {{charactor.name}}</label>
              <label>角色类型: {{charactor.text}}</label>
              <label>一句话角色情节: {{charactor.short_story}}</label>
              <label>抽象动机: {{charactor.abstract_emo}}</label>
              <label>具体动机: {{charactor.specific_emo}}</label>
              <label>阻碍: {{charactor.obstacle}}</label>
              <label>最终感悟: {{charactor.final_thought}}</label>
              <label>详细角色情节: </label>
              <custom-textarea
                :type="'charactors'"
                :index="index"
                :typekey="'long_story'"
                :content="charactor.long_story"
              >
              </custom-textarea>
              <template v-if="charactortype == 'type-4'">
                <label>最终改变:</label>
                <custom-textarea
                  :type="'charactors'"
                  :index="index"
                  :typekey="'change'"
                  :content="charactor.change"
                >
                </custom-textarea>
              </template>
            </template>
            <div v-if="charactortype == 'type-2'" class="pure-controls">
              <button @click="deleteCharactor(index)" class="pure-button" type="button">删除</button>
            </div>
          </div>
        </transition>
      </div>
    </fieldset>
  </script>

  <script type="x-template" id="scenes">
    <fieldset>
      <div class="pure-controls">
        <button @click="add" class="pure-button pure-button-primary" type="button">新增</button>
        <button v-show="currentindex != 0" @click="changeindex(-1)" class="pure-button pure-button-primary" type="button">上一条目</button>
        <button v-show="currentindex != scenes.length - 1" @click="changeindex(1)" class="pure-button pure-button-primary" type="button">下一条目</button>
      </div>
      <div class="stage-ctn">
        <transition name='with-mode-fade' mode='out-in'>
          <div v-for="(scene, index) in scenes" v-if="index == currentindex" :key="index">
            <span>出场人物： <input type="text" v-model="innerCharactors[index]" @input="addCharactors(index, $event)" placeholder="用空格分隔" /></span>
            <label>故事情节： </label>
            <custom-textarea
              :type="'scenes'"
              :index="index"
              :typekey="'short_story'"
              :content="scene.short_story"
            >
            </custom-textarea>
            <span>预计篇幅： <input type="number" v-model="scene.length" placeholder="写多少字？" /></span>
            <button @click="deleteScene(index)" class="pure-button" type="button">删除</button>
          </div>
        </transition>
      </div>
    </fieldset>
  </script>

  <script type="x-template" id="scenes-detail">
    <div>
      <div class="scenes-detail" v-for="(scene, index) in scenes" :key="index">
        <label>场景情节：</label>
        <custom-textarea
          :type="'scenes'"
          :index="index"
          :typekey="'short_story'"
          :content="scene.short_story"
        >
        </custom-textarea>
        <label>完整场景故事：</label>
        <custom-textarea
          :type="'scenes'"
          :index="index"
          :typekey="'long_story'"
          :content="scene.long_story"
        >
        </custom-textarea>
      </div>
    </div>
  </script>

  <script type="x-template" id="side-nav">
    <div>
      <!-- Menu toggle -->
      <a
        href="#menu"
        id="menuLink"
        class="menu-link "
        :class="{'active': isactive}"
        @click="$emit('togglemenu')"
      >
        <!-- Hamburger icon -->
        <span></span>
      </a>
      <div id="menu" :class="{'active': isactive}">
        <div class="pure-menu">
          <a class="pure-menu-heading" href="#">步骤</a>
          <ul class="pure-menu-list">
            <li class="pure-menu-item" v-for="(step, index) in steps">
              <a @click="$emit('selected', index)" :class="{ selected : selected == index }" href="#" class="pure-menu-link">第 {{ index + 1 }} 步</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </script>


  <!-- template for the modal component -->
  <script type="text/x-template" id="modal-template">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">

            <div class="modal-header">
              <slot name="header">
                default header
              </slot>
            </div>

            <div class="modal-body">
              <slot name="body">
                default body
              </slot>
            </div>

            <div class="modal-footer">
              <slot name="footer">
                default footer
                <button class="modal-default-button" @click="$emit('close')">
                  OK
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </script>

  <script>

    //TODO 上传到 github 前清空 APP_ID APP_KEY ！！！
    // 应用 ID，用来识别应用
    var APP_ID = '4MmuGlyNwSLaoAO721uk44LE-gzGzoHsz';

    // 应用 Key，用来校验权限（Web 端可以配置安全域名来保护数据安全）
    var APP_KEY = 's3MkeSLJ6bNfIquA008ir7Sv';
    //TODO 上传到 github 前清空 APP_ID APP_KEY ！！！

    // 初始化
    AV.init({
      appId: APP_ID,
      appKey: APP_KEY
    });

    // 浏览器的 Console 中设置 localStorage
    localStorage.setItem('debug', 'leancloud*');



    Vue.component('side-nav', {
      props: ['steps', 'selected', 'isactive'],
      template: '#side-nav'
    });

    Vue.component('hint', {
      props: ['desc', 'formercontent', 'index'],
      template: '#hint'
    });

    Vue.component('charactors', {
      props: ['charactors', 'charactortype'],
      template: '#charactors',
      data: function(){
        return {
          currentindex: 0,
          options: [
            {text: '主要角色', value: 'major'},
            {text: '次要角色', value: 'minor'}
          ]
        }
      },
      methods: {
        add: function(){
          this.$root.$emit('add-charactor');
          this.changeindex(this.charactors.length);
        },
        deleteCharactor: function(index){
          this.$root.$emit('delete-charactor', index);
          this.changeindex(-1);
        },
        changeindex: function(count){
          var maxLength = this.charactors.length;
          var index = this.currentindex + count;
          if(index > maxLength - 1){
            index = maxLength - 1;
          }
          else if(index < 0) {
            index = 0;
          }
          this.currentindex = index;
        }
      }

    });

    Vue.component('scenes', {
      props: ['scenes'],
      template: '#scenes',
      data: function(){
        return {
          currentindex: 0,
          innerCharactors: this.scenes.map(function(scene){
            return scene.charactors.join(' ')
          })
        }
      },
      methods: {
        add: function(){
          this.$root.$emit('add-scene');
          this.changeindex(this.scenes.length);
        },
        addCharactors: function(index, e){
          var charactors = e.target.value.split(' ');
          this.$root.$emit('add-scene-charactors', index, charactors);
        },
        deleteScene: function(index){
          this.$root.$emit('delete-scene', index);
          this.changeindex(-1);
        },
        changeindex: function(count){
          var maxLength = this.scenes.length;
          var index = this.currentindex + count;
          if(index > maxLength - 1){
            index = maxLength - 1;
          }
          else if(index < 0) {
            index = 0;
          }
          this.currentindex = index;
        }
      }

    });

    Vue.component('custom-textarea', {
      props: ['type', 'index', 'content', 'typekey'],
      template: '#custom-textarea',
      computed: {
        innerContent: function(){
          return this.content;
        },
        wordsCount: function(){
          return this.content ? this.content.trim().length : 0
        }
      },
      methods: {
        handleInput: function(event){
          this.resetHeight(event);
          this.wordsCount = event.target.value.trim().length;
          this.$root.$emit('update-data',this.type, this.index, event.target.value.trim(), this.typekey);
        },
        resetHeight: function(event){
          event.target.style.height = 'auto';
          event.target.style.height = (event.target.scrollHeight) + 'px';
        }
      }
    });

    Vue.component('scenes-detail', {
      props: ['scenes'],
      template: '#scenes-detail'
    });

    // register modal component
    Vue.component('modal', {
      template: '#modal-template'
    });

    new Vue({
      el: '#app',
      components: {
        one: {
          template: '#type-1',
          props: ['index', 'content', 'formercontent'],
          data: function(){
            return {
              desc: {
                main: '用一句话总结小说的内容',
                supplement: '长度不超过 30 个字'
              }
            }
          }
        },
        two: {
          template: '#type-1',
          props: ['index', 'content', 'formercontent'],
          data: function(){
            return {
              desc: {
                main: '把第 1 步写的话扩写成一段话',
                supplement: '这段话包含 5 个句子：故事开头（1句），主角经受的主要磨难（3句），以及结尾（1句）'
              }
            }
          }
        },
        three: {
          template: '#type-2',
          props: ['index', 'charactors'],
          data: function(){
            return {
              desc: {
                main: '塑造主要人物',
                supplement: '每个主要角色都应该有以下内容：姓名，一句话总结的角色故事情节，角色的动机（偏向于抽象的），角色的目标（偏向于具体的），阻碍角色达到目标的事物，角色最终的感悟'
              }
            }
          }
        },
        four: {
          template: '#type-1',
          props: ['index', 'content', 'formercontent'],
          data: function(){
            return {
              desc: {
                main: '扩充第 2 步写的故事梗概',
                supplement: '将内容扩充到 800 字'
              }
            }
          }
        },
        five: {
          template: '#type-3',
          props: ['index', 'charactors'],
          data: function(){
            return {
              desc: {
                main: '描述故事的每个角色',
                supplement: '为每个主要角色写上 800 字的描述，为其他重要角色也写 400 字描述'
              }
            }
          }
        },
        six: {
          template: '#type-1',
          props: ['index', 'content', 'formercontent'],
          data: function(){
            return {
              desc: {
                main: '扩充第 4 步写的故事梗概',
                supplement: '扩写成 3200 字'
              }
            }
          }
        },
        seven: {
          template: '#type-4',
          props: ['index', 'charactors'],
          data: function(){
            return {
              desc: {
                main: '完善每个角色的情节，描述角色的最终改变',
                supplement: '在故事的末尾，角色有了什么样的转变、收获'
              }
            }
          }
        },
        eight: {
          template: '#type-5',
          props: ['index', 'scenes', 'formercontent'],
          data: function(){
            return {
              desc: {
                main: '罗列出所有故事场景的概述',
                supplement: '把 3200 字的故事梗概拆分成一幕幕的故事场景。每个场景的信息包含：出场人物、故事、篇幅（大约写多少字）'
              }
            }
          }
        },
        nine: {
          template: '#type-6',
          props: ['index', 'scenes'],
          data: function(){
            return {
              desc: {
                main: '扩写每一条场景',
                supplement: '把每一条场景扩写成一段话。要在每一段中出现冲突，如果做不到，就去掉那条场景'
              }
            }
          }
        }
      },
      data: {
        charactors: [{
          name: '',
          type: 'major',
          short_story: '',
          abstract_emo: '',
          specific_emo: '',
          obstacle: '',
          final_thought: '',
          long_story: ''
        }],
        scenes: [{
          charactors: [],
          short_story: '',
          long_story: '',
          length: null
        }],
        steps: [{
          name: 'one',
          former: -1,
          content: ''
        },{
          name: 'two',
          former: 0,
          content: ''
        },{
          name: 'three',
          former: -1
        },{
          name: 'four',
          former: 1,
          content: ''
        },{
          name: 'five',
          former: -1
        },{
          name: 'six',
          former: 3,
          content: ''
        },{
          name: 'seven',
          former: -1
        },{
          name: 'eight',
          former: 5
        },{
          name: 'nine',
          former: -1
        }
//
// ,{
//          num: 10,
//          name: '10',
//          desc: {
//            main: '写初稿',
//            supplement: ''
//          }
//        },{
//          num: 11,
//          name: '11',
//          desc: {
//            main: '完善作品',
//            supplement: ''
//          }
//        }
],
        selected: 0,
        isactive: false,
        showSignUpModal: false,
        showSignInModal: false,
        emailValidated: false,
        isSaving: false,
        signInErrorMsg: '',
        signUpErrorMsg: '',

        errorMap: {
          101: 'Class or object doesn\'t exists.',
          1: '登录失败次数超过限制，请稍候再试，或者通过忘记密码重设密码。',
          203: '邮箱已被占用',
          210: '邮箱或密码不正确',
          211: '邮箱未注册',
          216: '请先验证邮箱'
        },
        signUped: false,
        userId: null,
        username: ''
      },
      computed: {
        signIned: function(){
          return this.userId != null;
        },
        saveButtonMsg: function(){
          return this.isSaving ? '正在保存' : '保存所有';
        }
      },

      created: function(){
        var that = this;
        this.isUserAuthenticated().then(function(){
          var currentUser = AV.User.current();
          that.initSignInUser(currentUser);
          that.initUserData(currentUser);
        }, function(error){
          console.log(error);
        }).catch(console.log.bind(console));
      },

      mounted: function(){
        this.$on('update-data', this.updateData);
        this.$on('add-charactor', this.addCharactor);
        this.$on('delete-charactor', this.deleteCharactor);

        this.$on('delete-scene', this.deleteScene);
        this.$on('add-scene', this.addScene);
        this.$on('add-scene-charactors', this.addSceneCharactors);
      },
      methods: {
        setSelected: function(step){
          this.selected = step;
        },

        togglemenu: function(){
          this.isactive = !this.isactive;
        },

        updateData: function(type, index, content, key){
          switch(type){
            case 'content': {
              this.steps[index]['content'] = content;
              break;
            }
            case 'charactors': {
              this.charactors[index][key] = content;
              break;
            }
            case 'scenes': {
              this.scenes[index][key] = content;
              break;
            }
          }

        },

        addCharactor: function(){
          var charactor = {
            name: '',
            type: 'major',
            short_story: '',
            abstract_emo: '',
            specific_emo: '',
            obstacle: '',
            final_thought: '',
            long_story: '',
            change: ''
          };
          this.charactors.push(charactor);
        },

        deleteCharactor: function(index){
          var confirm = window.confirm('你确定要删除吗？');
          confirm && this.charactors.splice(index, 1);
        },

        addScene: function(){
          var scene = {
            charactors: [],
            short_story: '',
            long_story: '',
            length: null
          };
          this.scenes.push(scene);
        },

        deleteScene: function(index){
          var confirm = window.confirm('你确定要删除吗？');
          confirm && this.scenes.splice(index, 1);
        },

        addSceneCharactors: function(index, charactors){
          this.scenes[index]['charactors'] = charactors;
        },

        isUserAuthenticated: function(){
          var currentUser = AV.User.current();
          if(currentUser){
            return currentUser.isAuthenticated();
          }
          else {
            return Promise.reject(new Error('no currentUser'));
          }
        },

        signUp: function(e){
          var that = this;
          e.preventDefault();
          debugger

          that.signUpUser().then(function (loginedUser) {
            that.initSignInUser(loginedUser);
            that.signUpErrorMsg = '';
          }, function (error) {
            that.signUpErrorMsg = that.errorMap[error.code];
            console.log(error);
          }).catch(console.log.bind(console));
        },

        signUpUser: function(){
          var username = this.$refs.signUpUsername.value;
          var password = this.$refs.signUpPassword.value;

          // 新建 AVUser 对象实例
          var user = new AV.User();
          // 设置用户名
          user.setUsername(username);
          // 设置邮箱
          user.setEmail(username);
          // 设置密码
          user.setPassword(password);

          return user.signUp();
        },

        signInFromModal: function(e){
          var that = this;
          e.preventDefault();
          var username = this.$refs.signInUserName.value;
          var password = this.$refs.signInPassword.value;
          this.signIn(username, password).then(function(loginedUser){
            that.initSignInUser(loginedUser);
            that.initUserData(loginedUser);
            that.showSignInModal = false;
            that.signInErrorMsg = '';
          }, function(error){
            that.signInErrorMsg = that.errorMap[error.code];
            console.log(error);
          }).catch(console.log.bind(console));
        },

        signIn: function(username, password){
          return AV.User.logIn(username, password);
        },

        initSignInUser: function(currentUser){
          this.signUped = true;
          this.userId = currentUser.id;
          this.username = currentUser.attributes.username;
          this.emailValidated = currentUser.attributes.emailValidated;
        },

        initUserData: function(currentUser){
          var that = this;
          that.getFirstSnowFlake(currentUser)
            .then(that.setSnowFlake, function(error){
              that.createAndSaveSnowFlake(error, currentUser);
            })
            .catch(console.log.bind(console));
        },

        getFirstSnowFlake: function(currentUser){
          var query = new AV.Query('SnowFlake');
          query.equalTo('dependent', currentUser);
          return query.first();
        },

        setSnowFlake: function(snowFlake){
          this.snowFlakeId = snowFlake.id;
          this.steps = snowFlake.get('steps');
          this.scenes = snowFlake.get('scenes');
          this.charactors = snowFlake.get('charactors');
        },

        createAndSaveSnowFlake: function (error, currentUser) {
          var that = this;
          //TODO object not found
          if( 101 == error.code ) {
            var snowFlake = new AV.Object('SnowFlake');
            snowFlake.set('dependent', currentUser);
            snowFlake.set('steps', that.steps);
            snowFlake.set('scenes', that.scenes);
            snowFlake.set('charactors', that.charactors);
            snowFlake.save().then(function (snowFlake) {
              that.snowFlakeId = snowFlake.id;
            });
          }
        },

        saveAll: function(){
          var that = this;
          this.isUserAuthenticated().then(function(){
            that.saveSnowFlake();
          }, function(){
            that.signInErrorMsg = '会话过期，请先登录！';
            that.showSignInModal = true;
          }).catch(console.log.bind(console));
        },

        saveSnowFlake: function(){
          var that = this;
          if(this.isSaving){
            return;
          }
          else{
            this.isSaving = true;
          }
          var snowFlake = AV.Object.createWithoutData('SnowFlake', this.snowFlakeId);
          snowFlake.set('steps', this.steps);
          snowFlake.set('scenes', this.scenes);
          snowFlake.set('charactors', this.charactors);
          snowFlake.save()
            .then(function(resp){
              window.alert('保存成功');
            }, function(error){
              console.error(error);
              window.alert('保存失败');
            }).then(function(){
              that.isSaving = false;
          });
        },

        logOut: function(){
          var that = this;
          AV.User.logOut().then(function(){
            that.userId = null;
            that.username = '';
            window.location.reload(true);
          }).catch(console.log.bind(console));
        }
      }
    });
  </script>
</body>
</html>