<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='js/vue.js'></script>
  <script src="//cdn1.lncld.net/static/js/2.1.0/av-min.js"></script>
  <title>snow flake</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
  <link rel="stylesheet" href="css/layouts/side-menu.css" >
  <link rel="stylesheet" href="css/modal.css" >
  <style>
    /*阻止在手机上输入时自动放大*/
    input[type='text'],
    input[type='number'],
    textarea {
      font-size: 16px;
    }
    textarea {
      overflow-y: hidden;
      resize: none;
    }

    .custom-textarea {
      position: relative;
    }
    .custom-textarea span {
      position: absolute;
      right: 10px;
      color: #ddd;
    }
    .custom-textarea textarea {
      width: 100%;
      padding-top: 15px;
    }

    #menu a.selected {
      color: #fff;
      background: #333;
    }

    .stage-ctn {
      position: relative;
      margin-top: 10px;
      border-top: 1px solid #eee;
    }

    .with-mode-fade-enter-active,
    .with-mode-fade-leave-active {
      transition: opacity .5s;
    }
    .with-mode-fade-enter,
    .with-mode-fade-leave-to {
      opacity: 0;
    }

  </style>
</head>
<body>

  <div id="app">
    <div id="layout" :class="{active: isactive}">
      <side-nav :steps="steps" :selected="selected" :isactive="isactive" @selected="setSelected" @togglemenu="togglemenu"></side-nav>
      <div id="main">
        <div class="header">
          <button class="pure-button pure-button-primary" id="signUp" @click="showSingUpModal = true">注册</button>
          <button class="pure-button pure-button-primary" id="signIn">登录</button>
        </div>
        <div class="content">
          <div class="sec" v-for="(step, index) of steps" v-show="index == selected" :key="index">
            <component
              :is="step.name"
              :desc="step.desc"
              :content="step.content"
              :charactors="charactors"
              :scenes="scenes"
              :index="index"
              :formercontent="step.former > -1 ? steps[step.former]['content'] : null"
            >
            </component>
          </div>
        </div>
      </div>
    </div>


    <modal v-if="showSingUpModal">
      <!--
        you can use custom content here to overwrite
        default content
      -->
      <h3 slot="header">注册</h3>
      <form slot="body" class="pure-form pure-form-stacked" v-on:submit.prevent="onSubmit">
        <label for="username">邮箱：<input required type="email" id="username" v-model="username"></label>
        <label for="password">密码：<input required type="password" id="password" v-model="password"></label>
        <div class="pure-controls">
          <button type="submit" class="pure-button pure-button-primary" >提交</button>
          <button class="pure-button" @click="showSingUpModal = false">取消</button>
        </div>
      </form>
      <div slot="footer"></div>
    </modal>
  </div>

  <script type="x-template" id="type-1">
    <form class="pure-form">
      <hint :desc="desc" :index="index" :formercontent="formercontent"></hint>
      <custom-textarea
        :type="'content'"
        :index="index"
        :content="content"
      >
      </custom-textarea>
    </form>
  </script>

  <script type="x-template" id="type-2">
    <form class="pure-form pure-form-stacked">
      <hint :desc="desc" :index="index"></hint>
      <main-charactors
        :charactors="charactors"
      ></main-charactors>
    </form>
  </script>

  <script type="x-template" id="type-3">
    <form class="pure-form pure-form-stacked">
      <hint :desc="desc" :index="index"></hint>
      <charactors
        :charactors="charactors"
      ></charactors>
    </form>
  </script>

  <script type="x-template" id="type-4">
    <form class="pure-form pure-form-stacked">
      <hint :desc="desc" :index="index" :formercontent="formercontent"></hint>
      <scenes
        :scenes="scenes"
      ></scenes>
    </form>
  </script>

  <script type="x-template" id="type-5">
    <form class="pure-form pure-form-stacked">
      <hint :desc="desc" :index="index"></hint>
      <scenes-detail
        :scenes="scenes"
      ></scenes-detail>
    </form>
  </script>


  <script type="x-template" id="hint">
    <div>
      <h2 class="content-subhead">{{ desc.main }}</h2>
      <blockquote class="content-quote">{{ formercontent }}</blockquote>
      <p>{{ desc.supplement }}</p>
    </div>
  </script>

  <script type="x-template" id="custom-textarea">
    <div class="custom-textarea">
      <span>{{wordsCount}}</span>
      <textarea @input="handleInput" :value="innerContent"></textarea>
    </div>
  </script>

  <script type="x-template" id="main-charactors">
    <fieldset>
      <div class="pure-controls">
        <button @click="add" class="pure-button pure-button-primary" type="button">新增</button>
        <button v-show="currentindex != 0" @click="changeindex(-1)" class="pure-button pure-button-primary" type="button">上一条目</button>
        <button v-show="currentindex != charactors.length - 1" @click="changeindex(1)" class="pure-button pure-button-primary" type="button">下一条目</button>
      </div>
      <div class="stage-ctn">
        <transition name='with-mode-fade' mode='out-in'>
          <div v-for="(charactor, index) in charactors" v-if="index == currentindex" :key="index" >
            <label>角色类型: </label>
            <select v-model="charactor.type">
              <option v-for="option in options" :value="option.value">
                {{ option.text }}
              </option>
            </select>
            <label>姓名: </label>
            <input type="text" v-model="charactor.name">
            <label>一句话故事情节: </label>
            <custom-textarea
              :type="'charactors'"
              :index="index"
              :typekey="'short_story'"
              :content="charactor.short_story"
            >
            </custom-textarea>

            <label>抽象动机: </label>
            <custom-textarea
              :type="'charactors'"
              :index="index"
              :typekey="'abstract_emo'"
              :content="charactor.abstract_emo"
            >
            </custom-textarea>
            <label>具体动机: </label>
            <custom-textarea
              :type="'charactors'"
              :index="index"
              :typekey="'specific_emo'"
              :content="charactor.specific_emo"
            >
            </custom-textarea>
            <label>阻碍: </label>
            <custom-textarea
              :type="'charactors'"
              :index="index"
              :typekey="'obstacle'"
              :content="charactor.obstacle"
            >
            </custom-textarea>
            <label>最终感悟: </label>
            <custom-textarea
              :type="'charactors'"
              :index="index"
              :typekey="'final_thought'"
              :content="charactor.final_thought"
            >
            </custom-textarea>
            <label>一段话故事情节: </label>
            <custom-textarea
              :type="'charactors'"
              :index="index"
              :typekey="'medium_story'"
              :content="charactor.medium_story"
            >
            </custom-textarea>
            <div class="pure-controls">
              <button @click="deleteCharactor(index)" class="pure-button" type="button">删除</button>
            </div>
          </div>
        </transition>

      </div>

    </fieldset>
  </script>

  <script type="x-template" id="charactors">

    <fieldset>
      <div class="pure-controls">
        <button @click="add" class="pure-button pure-button-primary" type="button">新增</button>
      </div>
      <div v-for="(charactor, index) in charactors" :key="index" >
        <label>角色类型: </label>
        <select v-model="charactor.type">
          <option v-for="option in options" :value="option.value">
            {{ option.text }}
          </option>
        </select>
        <label>姓名: </label>
        <input type="text" v-model="charactor.name">
        <label>一句话故事情节: </label>
        <custom-textarea
          :type="'charactors'"
          :index="index"
          :typekey="'short_story'"
          :content="charactor.short_story"
        >
        </custom-textarea>

        <label>抽象动机: </label>
        <custom-textarea
          :type="'charactors'"
          :index="index"
          :typekey="'abstract_emo'"
          :content="charactor.abstract_emo"
        >
        </custom-textarea>
        <label>具体动机: </label>
        <custom-textarea
          :type="'charactors'"
          :index="index"
          :typekey="'specific_emo'"
          :content="charactor.specific_emo"
        >
        </custom-textarea>
        <label>阻碍: </label>
        <custom-textarea
          :type="'charactors'"
          :index="index"
          :typekey="'obstacle'"
          :content="charactor.obstacle"
        >
        </custom-textarea>
        <label>最终感悟: </label>
        <custom-textarea
          :type="'charactors'"
          :index="index"
          :typekey="'final_thought'"
          :content="charactor.final_thought"
        >
        </custom-textarea>
        <label>一段话故事情节: </label>
        <custom-textarea
          :type="'charactors'"
          :index="index"
          :typekey="'medium_story'"
          :content="charactor.medium_story"
        >
        </custom-textarea>
        <label>总体故事情节:</label>
        <custom-textarea
          :type="'charactors'"
          :index="index"
          :typekey="'long_story'"
          :content="charactor.long_story"
        >
        </custom-textarea>
        <div class="pure-controls">
          <button @click="deleteCharactor(index)" class="pure-button" type="button">删除</button>
        </div>
      </div>
    </fieldset>
  </script>

  <script type="x-template" id="scenes">
    <div>
      <button @click="add" class="pure-button pure-button-primary" type="button">新增</button>
      <div v-for="(scene, index) in scenes" :key="index">
        <span>出场人物： <input type="text" v-model="innerCharactors[index]" @input="addCharactors(index, $event)" placeholder="用空格分隔" /></span>
        <label>故事情节： </label>
        <custom-textarea
          :type="'scenes'"
          :index="index"
          :typekey="'short_story'"
          :content="scene.short_story"
        >
        </custom-textarea>
        <span>预计篇幅： <input type="number" v-model="scene.length" placeholder="写多少字？" /></span>
        <button @click="deleteScene(index)" class="pure-button" type="button">删除</button>
      </div>
    </div>
  </script>

  <script type="x-template" id="scenes-detail">
    <div>
      <div v-for="(scene, index) in scenes" :key="index">
        <label>故事情节：</label>
        <custom-textarea
          :type="'scenes'"
          :index="index"
          :typekey="'short_story'"
          :content="scene.short_story"
        >
        </custom-textarea>
        <label>完整故事：</label>
        <custom-textarea
          :type="'scenes'"
          :index="index"
          :typekey="'long_story'"
          :content="scene.long_story"
        >
        </custom-textarea>
      </div>
    </div>
  </script>

  <script type="x-template" id="side-nav">
    <div>
      <!-- Menu toggle -->
      <a
        href="#menu"
        id="menuLink"
        class="menu-link "
        :class="{'active': isactive}"
        @click="$emit('togglemenu')"
      >
        <!-- Hamburger icon -->
        <span></span>
      </a>
      <div id="menu" :class="{'active': isactive}">
        <div class="pure-menu">
          <a class="pure-menu-heading" href="#">步骤</a>
          <ul class="pure-menu-list">
            <li class="pure-menu-item" v-for="(step, index) in steps">
              <a @click="$emit('selected', index)" :class="{ selected : selected == index }" href="#" class="pure-menu-link">第 {{ index + 1 }} 步</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </script>


  <!-- template for the modal component -->
  <script type="text/x-template" id="modal-template">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">

            <div class="modal-header">
              <slot name="header">
                default header
              </slot>
            </div>

            <div class="modal-body">
              <slot name="body">
                default body
              </slot>
            </div>

            <div class="modal-footer">
              <slot name="footer">
                default footer
                <button class="modal-default-button" @click="$emit('close')">
                  OK
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </script>

  <script>

    //TODO 上传到 github 前清空 APP_ID APP_KEY ！！！
    // 应用 ID，用来识别应用
    var APP_ID = '';

    // 应用 Key，用来校验权限（Web 端可以配置安全域名来保护数据安全）
    var APP_KEY = '';
    //TODO 上传到 github 前清空 APP_ID APP_KEY ！！！

    // 初始化
    AV.init({
      appId: APP_ID,
      appKey: APP_KEY
    });

    // 浏览器的 Console 中设置 localStorage
    localStorage.setItem('debug', 'leancloud*');



    Vue.component('side-nav', {
      props: ['steps', 'selected', 'isactive'],
      template: '#side-nav'
    });

    Vue.component('hint', {
      props: ['desc', 'formercontent', 'index'],
      template: '#hint'
    });

    Vue.component('main-charactors', {
      props: ['charactors'],
      template: '#main-charactors',
      data: function(){
        return {
          currentindex: 0,
          options: [
            {text: '主要角色', value: 'major'},
            {text: '次要角色', value: 'minor'}
          ]
        }
      },
      methods: {
        add: function(){
          this.$root.$emit('add-charactor');
          this.changeindex(this.charactors.length);
        },
        deleteCharactor: function(index){
          this.$root.$emit('delete-charactor', index);
          this.changeindex(-1);
        },
        changeindex: function(count){
          var maxLength = this.charactors.length;
          var index = this.currentindex + count;
          if(index > maxLength - 1){
            index = maxLength - 1;
          }
          else if(index < 0) {
            index = 0;
          }
          this.currentindex = index;
        }
      }

    });

    Vue.component('charactors', {
      props: ['charactors'],
      template: '#charactors',
      data: function(){
        return {
          currentindex: 0,
          options: [
            {text: '主要角色', value: 'major'},
            {text: '次要角色', value: 'minor'}
          ]
        }
      },
      methods: {
        add: function(){
          this.$root.$emit('add-charactor');
        },
        deleteCharactor: function(index){
          this.$root.$emit('delete-charactor', index);
        },
        changeindex: function(count){
          var maxLength = this.charactors.length;
          var index = this.currentindex + count;
          if(index > maxLength - 1){
            index = maxLength - 1;
          }
          else if(index < 0) {
            index = 0;
          }
          this.currentindex = index;
        }
      }

    });

    Vue.component('scenes', {
      props: ['scenes'],
      template: '#scenes',
      data: function(){
        return {
          innerCharactors: this.scenes.map(function(scene){
            return scene.charactors.join(' ')
          })
        }
      },
      methods: {
        add: function(){
          this.$root.$emit('add-scene');
        },
        addCharactors: function(index, e){
          var charactors = e.target.value.split(' ');
          this.$root.$emit('add-scene-charactors', index, charactors);
        },
        deleteScene: function(index){
          this.$root.$emit('delete-scene', index);
        }
      }

    });

    Vue.component('custom-textarea', {
      props: ['type', 'index', 'content', 'typekey'],
      template: '#custom-textarea',
      computed: {
        innerContent: function(){
          return this.content;
        },
        wordsCount: function(){
          return this.content ? this.content.trim().length : 0
        }
      },
      methods: {
        handleInput: function(event){
          this.resetHeight(event);
          this.wordsCount = event.target.value.trim().length;
          this.$root.$emit('update-data',this.type, this.index, event.target.value.trim(), this.typekey);
        },
        resetHeight: function(event){
          event.target.style.height = 'auto';
          event.target.style.height = (event.target.scrollHeight) + 'px';
        }
      }
    });

    Vue.component('scenes-detail', {
      props: ['scenes'],
      template: '#scenes-detail'
    });

    // register modal component
    Vue.component('modal', {
      template: '#modal-template'
    })

    new Vue({
      el: '#app',
      components: {
        one: {
          template: '#type-1',
          props: ['index', 'content', 'formercontent'],
          data: function(){
            return {
              desc: {
                main: '用一句话总结小说的内容',
                supplement: '长度不超过 30 个字'
              }
            }
          }
        },
        two: {
          template: '#type-1',
          props: ['index', 'content', 'formercontent'],
          data: function(){
            return {
              desc: {
                main: '把第 1 步写的话扩写成一段话',
                supplement: '这段话包含 5 个句子：故事开头（1句），主角经受的主要磨难（3句），以及结尾（1句）'
              }
            }
          }
        },
        three: {
          template: '#type-2',
          props: ['index', 'charactors'],
          data: function(){
            return {
              desc: {
                main: '塑造主要人物',
                supplement: '每个主要角色都应该有以下内容：姓名，一句话总结的角色故事情节，角色的动机（偏向于抽象的），角色的目标（偏向于具体的），阻碍角色达到目标的事物，角色最终的感悟，一段话总结的角色故事情节'
              }
            }
          }
        },
        four: {
          template: '#type-1',
          props: ['index', 'content', 'formercontent'],
          data: function(){
            return {
              desc: {
                main: '扩写那段故事梗概',
                supplement: '将内容扩充到 800 字'
              }
            }
          }
        },
        five: {
          template: '#type-3',
          props: ['index', 'charactors'],
          data: function(){
            return {
              desc: {
                main: '描述故事的每个角色',
                supplement: '为每个主要角色写上 800 字的描述，为其他重要角色也写 400 字描述（要从每个角色的角度去描述整个故事）'
              }
            }
          }
        },
        six: {
          template: '#type-1',
          props: ['index', 'content', 'formercontent'],
          data: function(){
            return {
              desc: {
                main: '继续扩写故事梗概',
                supplement: '将一页纸的故事概述，扩写成 3200 字'
              }
            }
          }
        },
        seven: {
          template: '#type-3',
          props: ['index', 'charactors'],
          data: function(){
            return {
              desc: {
                main: '完善每个角色的所有资料',
                supplement: '在故事的末尾，角色有了什么样的转变、收获'
              }
            }
          }
        },
        eight: {
          template: '#type-4',
          props: ['index', 'scenes', 'formercontent'],
          data: function(){
            return {
              desc: {
                main: '罗列出所有故事场景的概述',
                supplement: '把 3200 字的故事梗概拆分成一幕幕的故事场景。每个场景的信息包含：出场人物、故事、篇幅（大约写多少字）'
              }
            }
          }
        },
        nine: {
          template: '#type-5',
          props: ['index', 'scenes'],
          data: function(){
            return {
              desc: {
                main: '扩写每一条场景',
                supplement: '把每一条场景扩写成一段话。要在每一段中出现冲突，如果做不到，就去掉那条场景'
              }
            }
          }
        }
      },
      data: {
        charactors: [{
          name: '',
          type: 'major',
          short_story: '',
          abstract_emo: '',
          specific_emo: '',
          obstacle: '',
          final_thought: '',
          medium_story: ''
        }],
        scenes: [{
          charactors: [],
          short_story: '',
          long_story: '',
          length: null
        }],
        steps: [{
          name: 'one',
          former: -1,
          content: ''
        },{
          name: 'two',
          former: 0,
          content: ''
        },{
          name: 'three',
          former: -1
        },{
          name: 'four',
          former: 1,
          content: ''
        },{
          name: 'five',
          former: -1
        },{
          name: 'six',
          former: 3,
          content: ''
        },{
          name: 'seven',
          former: -1
        },{
          name: 'eight',
          former: 5
        },{
          name: 'nine',
          former: -1
        }
//
// ,{
//          num: 10,
//          name: '10',
//          desc: {
//            main: '写初稿',
//            supplement: ''
//          }
//        },{
//          num: 11,
//          name: '11',
//          desc: {
//            main: '完善作品',
//            supplement: ''
//          }
//        }
],
        selected: 0,
        isactive: false,
        showSingUpModal: false,
        username: null,
        password: null
      },

      mounted: function(){
        this.$on('update-data', this.updateData);
        this.$on('add-charactor', this.addCharactor);
        this.$on('delete-charactor', this.deleteCharactor);

        this.$on('delete-scene', this.deleteScene);
        this.$on('add-scene', this.addScene);
        this.$on('add-scene-charactors', this.addSceneCharactors);
      },
      methods: {
        setSelected: function(step){
          this.selected = step;
        },

        togglemenu: function(){
          this.isactive = !this.isactive;
        },

        updateData: function(type, index, content, key){
          switch(type){
            case 'content': {
              this.steps[index]['content'] = content;
              break;
            }
            case 'charactors': {
              this.charactors[index][key] = content;
              break;
            }
            case 'scenes': {
              this.scenes[index][key] = content;
              break;
            }
          }

        },

        addCharactor: function(){
          var charactor = {
            name: '',
            type: 'major',
            short_story: '',
            abstract_emo: '',
            specific_emo: '',
            obstacle: '',
            final_thought: '',
            medium_story: '',
            long_story: ''
          };
          this.charactors.push(charactor);
        },

        deleteCharactor: function(index){
          var confirm = window.confirm('你确定要删除吗？');
          confirm && this.charactors.splice(index, 1);
        },

        addScene: function(){
          var scene = {
            charactors: [],
            short_story: '',
            long_story: '',
            length: null
          };
          this.scenes.push(scene);
        },

        deleteScene: function(index){
          var confirm = window.confirm('你确定要删除吗？');
          confirm && this.scenes.splice(index, 1);
        },

        addSceneCharactors: function(index, charactors){
          this.scenes[index]['charactors'] = charactors;
        },

        onSubmit: function(e){
          e.preventDefault();
          // 新建 AVUser 对象实例
          var user = new AV.User();
          // 设置用户名
          user.setUsername(this.username);
          // 设置邮箱
          user.setEmail(this.username);
          // 设置密码
          user.setPassword(this.password);

          user.signUp().then(function (loginedUser) {
            console.log(loginedUser);
          }, function (error) {
            console.log(error);
          });
        }
      }
    });



  </script>
</body>
</html>